nameOverride: ferret-rescue-api
replicaCount: 2

imagePullSecrets:
  - name: github-docker-auth

migrations:
  run: true
  command: [./bin/ferret_rescue, eval, FerretRescue.Release.migrate()]

workloadIdentity:
  enabled: true

service:
  targetPort: 4000
  routes:
    - domain: api.txferretrescue.org

resources:
  requests:
    cpu: 50m
  limits:
    memory: 500M

envVars:
  DB_HOSTNAME: aero.blue
  DB_USERNAME: ferret_rescue
