nameOverride: ferret-rescue-api
replicaCount: 2

imagePullSecrets:
  - name: github-docker-auth

service:
  targetPort: 4000
  routes:
    - domain: api.txferretrescue.org

resources:
  requests:
    cpu: 50m
  limits:
    memory: 256M

envVars:
  DB_HOSTNAME: aero.blue
  DB_USERNAME: ferret_rescue
