.ContentBox {
  background-color: #FFF !important;
  border-radius: 0 !important;
  -webkit-box-shadow: 0 0 8px 0 rgba(0,0,0,0.3);
  -moz-box-shadow: 0 0 8px 0 rgba(0,0,0,0.3);
  box-shadow: 0 0 8px 0 rgba(0,0,0,0.3);
  width: 100%;
}