.LinkBox div {
    text-align: center;
    background-color: #E0F5CC !important;
    -webkit-box-shadow: 0 0 8px 0 rgba(0,0,0,0.3);
    -moz-box-shadow: 0 0 8px 0 rgba(0,0,0,0.3);
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.3);
    color: #000000;
}

.LinkBox:hover a {
    text-decoration: none;
}

.LinkBox:hover div {
    background-color: #41924B !important;
}